<div class="row shadow">
  <div class="col-sm-4 p-0">
    <div class="card">
      <div class="card-img-wrapper">
        <img *ngIf="this.property.photo" class="card-img-top" src="assets/images/{{this.property.photo}}"/>
        <img *ngIf="!this.property.photo" class="card-img-top" src="assets/images/house_default.png"/>
      </div>
      <div class="card-body">
        <h1 class="card-title">{{this.property.name}}</h1>
        <div>
            <strong>{{this.property.bhk}} BHK {{this.property.propertyType}} @ ${{this.property.price}}</strong>
        </div>
        <div>
           <strong>in {{this.property.city}}</strong>
        </div> <hr>
        <div>
            <strong>Build Area: </strong>
            {{this.property.builtArea}} Sqft
        </div>

        <div>
            <strong>Carpet Area: </strong>
            {{this.property.carpetArea}} Sqft
        </div>
        <div>
            <strong>Furnishing Type: </strong>
            {{this.property.furnishingType}}
        </div>
        <div>
            <strong>Available for: </strong>
            <span *ngIf="this.property.sellRent == 1">Purchase</span>
            <span *ngIf="this.property.sellRent == 2">Rent</span>
        </div>

      </div>
      <div class="card-footer">
        <div class="btn-group d-flex">
          <button class="btn btn-primary">Like</button>
          <button class="btn btn-success">Message</button>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-8 p-0">
    <div class="tab-panel p-3">
      <tabset class="member-tabset">
        <tab heading="Overview">
          <h1>Overview</h1>
          <div class="row">
              <div class="col-sm-6">
                  <div class="heading">
                      <strong>Project Name</strong>
                      <p>{{this.property.name}}</p>
                  </div>

                  <div class="heading">
                      <strong>Floor Number</strong>
                      <p>{{this.property.floorNo}} of {{this.property.totalFloors}}</p>
                  </div>

                  <div class="heading">
                      <strong>Age of Property</strong>
                      <p>{{this.property.age}}</p>
                  </div>

                  <div class="heading">
                      <strong>Posession</strong>
                      <p>{{this.property.estPossessionOn | date}}</p>
                  </div>
              </div>

              <div class="col-sm-6">
                  <div class="heading">
                      <strong>Main Entrance</strong>
                      <p>{{this.property.mainEntrance}}</p>
                  </div>

                  <div class="heading">
                      <strong>Gated Community</strong>
                      <p *ngIf="this.property.gated">Yes</p>
                      <p *ngIf="!this.property.gated">No</p>
                  </div>

                  <div class="heading">
                      <strong>Security Deposit</strong>
                      <p>{{this.property.security}}</p>
                  </div>
                  <div class="heading">
                      <strong>Maintenance</strong>
                      <p>{{this.property.maintenance}}</p>
                  </div>
              </div>
              <div class="col-sm-12">
                  <div class="heading">
                      <strong>About Property</strong>
                      <p>{{this.property.description}}</p>
                  </div>
              </div>
            </div>
        </tab>
        <tab heading="Address">
          <div class="col-sm-12">
            <h1>Address</h1>
            <div class="heading">
                <strong>{{this.property.address}}</strong><br/>
                <strong>{{this.property.address2}}</strong><br/>
                <strong>{{this.property.city}}</strong>
            </div>
        </div>

        </tab>
        <tab heading="Photos">
          <h1>Photos</h1>
          <!-- <ngx-gallery [options]="galleryOptions" [images]="galleryImages" class="ngx-gallery"></ngx-gallery> -->
          <gallery id="mixedExample" [thumbTemplate]="thumbTemplate" [itemTemplate]="itemTemplate"></gallery>

          <!-- Add custom template to thumbnails -->
          <ng-template #thumbTemplate let-type="type">
            <span *ngIf="type === 'youtube'" class="item-type">
              <i class="fa-solid fa-address-book"></i>
            </span>
            <span *ngIf="type === 'video'" class="item-type">
              <i class="fa-solid fa-address-book"></i>
            </span>
          </ng-template>

          <!-- Add custom template to image items -->
          <ng-template #itemTemplate
                      let-index="index"
                      let-type="type"
                      let-data="data"
                      let-currIndex="currIndex">
            <span *ngIf="type === 'image' && index === currIndex" [@slideAnimation] class="item-text">
              {{data?.title}}
            </span>
          </ng-template>




        </tab>
        <tab heading="Contact">
          <h1>Contact Detail</h1>
          This should be restricted area and only registered user should be able to see seller contact details
        </tab>
      </tabset>
    </div>
  </div>
</div>