<div class="row">
  <div class="col-8">
    <div class="card">
      <div class="card-header">
        <h5>List your Property</h5>
      </div>
      <div class="card-body  shadow-lg p-3 bg-white">
        <form (ngSubmit)='onSubmit()' [formGroup]="addPropertyForm">
          <div class="tab-panel">
            <tabset class="member-tabset" #formTabs>
              <tab heading="Basic Info" formGroupName="BasicInfo">
                <div class="form-group col-12">
                    <label class="form-label">I want to</label>
                    <br/>
                    <div class="btn-group"
                    btnRadioGroup formControlName="SellRent" >
                      <label class="btn btn-outline-primary mr-2"
                      btnRadio=1 tabindex="0" role="button" name="SellRent">Sell</label>
                      <label class="btn btn-outline-primary"
                      btnRadio=2  tabindex="0" role="button" name="SellRent">Rent</label>
                    </div>
                    <div class="error-block" *ngIf="SellRent.invalid && nextClicked">
                      Please select sell or rent
                    </div>
                  </div>
                  <div class="form-group col-12">
                    <label class="form-label">BHK</label>
                    <br/>
                    <div class="btn-group"
                    btnRadioGroup formControlName="BHK" [(ngModel)]="propertyView.bhk">
                      <label *ngFor="let bhk of ['1','2','3','4']" class="btn btn-outline-primary"
                      [btnRadio]="bhk"  tabindex="0" role="button" name="SellRent">{{bhk}}</label>
                    </div>
                    <div class="error-block" *ngIf="SellRent.invalid && nextClicked">
                      Please select bhk number
                    </div>
                  </div>
                 
    
                  <div class="form-group col-12">
                    <label class="form-label">Property Type</label>
                    <br/>
                    <div class="btn-group"
                    btnRadioGroup formControlName="PType" [(ngModel)]="propertyView.propertyType">
                      <label *ngFor="let ptype of this.propertyType" class="btn btn-outline-primary"
                      [btnRadio]="ptype"  tabindex="0" role="button" name="SellRent">{{ptype}}</label>
                    </div>
                    <div class="error-block" *ngIf="SellRent.invalid && nextClicked">
                      Please select property type
                    </div>
                  </div>
    
                  
                  <div class="form-group col-12">
                    <label class="form-label">Furnishing Type</label>
                    <br/>
                    <div class="btn-group"
                    btnRadioGroup formControlName="FType" [(ngModel)]="propertyView.furnishingType">
                      <label *ngFor="let ftype of this.furnishType" class="btn btn-outline-primary"
                      [btnRadio]="ftype"  tabindex="0" role="button" name="SellRent">{{ftype}}</label>
                    </div>
                    <div class="error-block" *ngIf="SellRent.invalid && nextClicked">
                      Please select furnishing type
                    </div>
                  </div>

                  <div class="form-group col-12">
                    <label class="form-label">In Building/Society/Project</label>
                    <input type="text" class="form-control"
                    formControlName="Name"
                    required
                    minlength="5"
                    [(ngModel)]="propertyView.name">
                    <span *ngIf="!Name.valid && (Name.touched || nextClicked)" class="error-block">
                      <span *ngIf="Name.hasError('required')">Please provide name</span>
                      <span *ngIf="Name.hasError('minlength')">Name must be atleast 5 char long</span>
                    </span>
                  </div>
                  <div class="form-group col-12">
                    <label class="form-label">City</label>
                    <input type="text" class="form-control"  formControlName="City" [(ngModel)]="propertyView.city" required>
                  </div>
    
                  <div class="form-group col-12">
                    <!-- <button type="button" [disabled]="BasicInfo.invalid" class="btn btn-primary btn-block" style="width:100%;"  -->
                      <button type="button" class="btn btn-primary btn-block" style="width:100%;" 
                      (click)="selectTab(1,BasicInfo.valid)">Next</button>
                  </div>
              </tab>
    
              <tab heading="Pricing and Area"  formGroupName="PriceInfo">
                  <div class="form-group col-12">
                    <label *ngIf="SellRent.value==1" class="form-label">Price (in USD)</label>
                    <label *ngIf="SellRent.value==2" class="form-label">Rent (in USD)</label>
                    <input type="text" class="form-control" formControlName="Price" required [(ngModel)]="propertyView.price">
                    <div class="error-block"
                    *ngIf="Price.invalid && (nextClicked || Price.touched)">
                      Please select
                      <span *ngIf="SellRent.value==1;else ShowRent">price</span>
                      <ng-template #ShowRent>rent</ng-template>
                    </div>
                  </div>
    
                  <div class="form-group col-12" *ngIf="SellRent.value==true">
                    <label class="form-label">Security (in USD)</label>
                    <input type="text" class="form-control">
                  </div>
    
                  <div class="form-group col-12" *ngIf="SellRent.value==true">
                    <label class="form-label">Maintenance (in USD)</label>
                    <input type="text" class="form-control">
                  </div>
    
                  <div class="form-group col-12">
                    <label class="form-label">Built Area (in Sqr Feet)</label>
                    <input type="text" class="form-control" formControlName="BuiltArea" [(ngModel)]="propertyView.builtArea" required>
                    <div class="error-block"
                    *ngIf="BuiltArea.invalid && nextClicked">
                      Please select built up area
                    </div>
                  </div>
    
                  <div class="form-group col-12">
                    <label class="form-label">Carpet Area(in Sqr Feet)</label>
                    <input type="text" class="form-control">
                  </div>
    
                  <div class="form-group col-12">
                    <!-- <button type="button" [disabled]="PriceInfo.invalid" class="btn btn-primary btn-block" style="width:100%;" -->
                    <button type="button" class="btn btn-primary btn-block" style="width:100%;"
                    (click)="selectTab(2,PriceInfo.valid)">Next</button>
    
                    <button type="button" class="btn btn-primary btn-block" style="width:100%;"
                    (click)="selectTabSimple(0)">Back</button>
                  </div>
              </tab>
    
              <tab heading="Address"   formGroupName="AddressInfo">
    
                <div class="form-group col-12">
                  <label class="form-label">Floor</label>
                  <input type="text" class="form-control">
                </div>
    
                <div class="form-group col-12">
                  <label class="form-label">Total Floor</label>
                  <input type="text" class="form-control">
                </div>
    
                <div class="form-group col-12">
                  <label class="form-label">Address</label>
                  <input type="text" class="form-control" formControlName="Address" required>
                  <div class="error-block"
                  *ngIf="Address.invalid && (nextClicked || Address.touched)">
                    Please select address
                  </div>
                </div>
    
                <div class="form-group col-12">
                  <label class="form-label">Landmark</label>
                  <input type="text" class="form-control">
                </div>
    
                  <div class="form-group col-12">
                    <button type="button" class="btn btn-primary btn-block" style="width:100%;"
                    (click)="selectTab(3,AddressInfo.valid)">Next</button>
    
                    <button type="button" class="btn btn-primary btn-block" style="width:100%;"
                    (click)="selectTabSimple(1)">Back</button>
                  </div>
              </tab>
    
              <tab heading="Other Details"   formGroupName="OtherInfo">
                <div class="form-group col-12">
                  <p class="form-label">Ready to Move</p>
                  <div class="btn-group" btnRadioGroup
                  formControlName="RTM">
                    <label class="btn btn-outline-primary mr-2"
                      btnRadio=true tabindex="0" role="button"
                      (click)="propertyView.readyToMove=true"
                      name="RTM">Yes
                    </label>

                    <label class="btn btn-outline-primary"
                      btnRadio=false  tabindex="0" role="button"
                      (click)="propertyView.readyToMove=false"
                      name="RTM">No
                    </label>
                  </div>
                  <div class="error-block" *ngIf="RTM.invalid && nextClicked">
                    Please select ready to move
                  </div>
                </div>


                <div class="form-group col-6">
                  <label *ngIf="propertyView.readyToMove"  class="form-label">Establishment Date</label>
                  <label *ngIf="!propertyView.readyToMove"  class="form-label">Possession Date</label>
                  <input type="text"
                  class="form-control"
                  formControlName="PossessionOn"
                  #possessionOn
                  (bsValueChange)="propertyView.estPossessionOn=PossessionOn.value"
                  bsDatepicker
                  [bsConfig]="{containerClass: 'theme-dark-blue',
                  dateInputFormat: 'MMM DD, YYYY'}">
                  <div class="error-block" *ngIf="PossessionOn.invalid
                    && (nextClicked || PossessionOn.touched)">
                    Please select establishment/possession date
                  </div>
                </div>

                <div class="form-group col-12">
                  <p  class="form-label">Gated Community</p>
                  <div class="btn-group"
                  btnRadioGroup
                  formControlName="Gated">
                    <label class="btn btn-outline-primary mr-2"
                    btnRadio=true tabindex="0" role="button" name="Gated">Yes</label>
                    <label class="btn btn-outline-primary"
                    btnRadio=false  tabindex="0" role="button" name="Gated">No</label>
                  </div>
                </div>

                <div class="form-group col-12">
                  <p  class="form-label">Main Entrance</p>
                  <div class="btn-group" btnRadioGroup
                  formControlName="MainEntrance">
                    <label class="btn btn-outline-primary mr-2"
                    btnRadio=East tabindex="0" role="button" name="Entrance">East</label>
                    <label class="btn btn-outline-primary"
                    btnRadio=West  tabindex="0" role="button" name="Entrance">West</label>
                    <label class="btn btn-outline-primary"
                    btnRadio=South  tabindex="0" role="button" name="Entrance">South</label>
                    <label class="btn btn-outline-primary"
                    btnRadio=North  tabindex="0" role="button" name="Entrance">North</label>
                  </div>
                </div>

                <div class="form-group col-12">
                  <label  class="form-label">Description</label>
                  <textarea type="text"
                  class="form-control"
                  formControlName="Description"
                  rows="6"></textarea>
                </div>

                <div class="form-group col-12">
                    <button type="button" class="btn btn-primary btn-block" style="width:100%;"
                    (click)="selectTab(4,OtherInfo.valid)">Next</button>
    
                    <button type="button" class="btn btn-primary btn-block" style="width:100%;"
                    (click)="selectTabSimple(2)">Back</button>
                </div>
              </tab>
    
              <tab heading="Photos">
                <div class="form-group col-12">
                  <div class="photo-control">
                      <button class="mt-5" type="button">Upload</button> <br>
                      This is under construction
                  </div>
                </div>
                <div class="form-group col-12">
                  <button type="button" class="btn btn-primary btn-block" style="width:100%;"
                  (click)="selectTabSimple(3)">Back</button>
    
                  <button type="submit" class="btn btn-primary btn-block" style="width:100%;"
                  >Submit</button>
    
                  <button type="reset" class="btn btn-primary btn-block" style="width:100%;"
                  >Cancel</button>
                </div>
              </tab>
            </tabset>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="col-4">
    <div class="card-header">
      <h5>Your Property Preview</h5>
    </div>
    <div class="card-body shadow-lg p-3 bg-white">
      <app-property-card [property]="propertyView" [hideIcons]="true"></app-property-card>
    </div>
      
  </div>
</div>