
<div class="card">
    <div class="card-img-wrapper p-3">
        <img *ngIf="property.photo" class="card-img-top" src="assets/images/{{property.photo}}" class="propImage"/>
        <img *ngIf="!property.photo" class="card-img-top" src="assets/images/house_default.png" class="propImage"/>
        <ul *ngIf="!hideIcons" class="list-inline text-center member-icon animate">
            <li class="list-inline-item">
                <button class="btn btn-primary" routerLink="/property-detail/{{property.id}}"><i class="fa-solid fa-pen-to-square"></i></button>
            </li>
            <li class="list-inline-item">
                <button class="btn btn-primary"><i class="fa-solid fa-address-book"></i></button>
            </li>
        </ul>
    </div>
    <div class="card-body p-4">
        <h1 class="mb-0"> {{property.bhk}} BHK {{property.propertyType}} </h1>
    
        in {{property.name}}
        <span *ngIf="property.name">,</span>
        {{property.city}}
    
        <h6  class="mt-2">{{property.furnishingType}}
        <span *ngIf="property.furnishingType !== 'Unfurnished'">Furnished</span>
        <span *ngIf="property.readyToMove==true"> | Ready to Move</span>
        </h6>
    
        <hr class="mt-0 mb-2">
    
        <h6 class="mb-0">Price: <span class="font-highlight">{{property.price}} USD.</span> |
          Area:  <span class="font-highlight">{{property.builtArea}} Sq Ft </span> </h6>
    </div>
</div>