
.card {
    min-height: 400px;
  }
  
  .card-body h1 {
    font-family: fantasy;
    color: #0069d9;
  }
  
  .font-highlight {
    font-style: italic;
    color: red;
  }

.card img {
    transform: scale(1,1);
    transition-duration: 500ms;
    transition-timing-function: ease-out;
    height: 250px;
    width: 100%;
    opacity: 0.7;
}
.card:hover img {
    transform: scale(1.2,1.2);
    transition-duration: 500ms;
    transition-timing-function: ease-out;
    height: 250px;
    width: 100%;
    opacity: 1;
}

.member-icon{
    position: absolute;
    bottom: -30%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    opacity: 0;
}

.card-img-wrapper{
    overflow: hidden;
    position: relative;
}

.card-img-wrapper:hover .member-icon{
    bottom: 0;
}

.animate{
    transition: all 0.3s ease-in-out;
    opacity: 1;
}



  