<!-- Pipes
Current Local Date: {{this.Today|date:'medium'|uppercase}}
<br/>
Current France Date: {{this.Today|date:'medium':'GMT+2'|uppercase}} -->
<label>Filter City: &nbsp; </label>
<input type="text" [(ngModel)]='City'/>
<button type="button" (click)="onCityFilter()">Search</button>
<button type="button" (click)="onCityFilterClear()">Clear Filter</button>

<label>Sort By &nbsp; </label>
<select [(ngModel)]="SortedByParam">
    <option value="city">City</option>
    <option value="price">Price</option>
</select>

<button type="button" (click)="onSortDirection()">
    <i *ngIf="this.SortDirection==='asc'" class="fas fa-sort-alpha-down"></i>
    <i *ngIf="this.SortDirection==='desc'" class="fas fa-sort-alpha-up"></i>
</button>

<div class="row">
    <div *ngFor="let propertyItem of properties|filter:this.searchCity:'city'|sort:[this.SortedByParam,SortDirection]" class="shadow-lg col-sm-4 p-3">
        <app-property-card [property]="propertyItem"></app-property-card>
    </div>
</div>

