<div class="row">
  <div class="col-6 m-auto">
  <div class="card m-auto">
    <div class="card-header">
      Register
    </div>
    <div class="card-body">
      <form [formGroup]="registerationForm" (ngSubmit)="onSubmit()">
        <div class="form-group col-12">
            <label for="name" class="form-label">Name</label>
            <input type="text" class="form-control" formControlName="userName">
            <span *ngIf="!userName.valid && (userName.touched || userSubmitted)"
            class="error-block">
              Please provide name
            </span>
        </div>

        <div class="form-group col-12">
          <label for="email" class="form-label">Email</label>
          <input type="text" class="form-control" formControlName="email">
          <span *ngIf="!email.valid && (email.touched  || userSubmitted)" class="error-block">
            <span *ngIf="email.hasError('required')">
                Please provide email id
            </span>
            <span *ngIf="email.hasError('email')">
              Please provide valid email id
            </span>
          </span>
        </div>

        <div class="form-group col-12">
          <label for="passwrod" class="form-label">Password</label>
          <input type="password" class="form-control" formControlName="password">
          <span *ngIf="!password.valid && (password.touched  || userSubmitted)" class="error-block">
            <span *ngIf="password.hasError('required')">
              Please provide password
            </span>
            <span *ngIf="password.hasError('minlength')">
              Password should not be lesser than 8 character
            </span>
          </span>
        </div>

        <div class="form-group col-12">
          <label for="cpassword" class="form-label">Confirm Password</label>
          <input type="password" class="form-control" formControlName="confirmPassword">
          <span  *ngIf="!confirmPassword.valid && (confirmPassword.touched  || userSubmitted)" class="error-block">
            <span *ngIf="confirmPassword.hasError('required')">
              Please confirm password
            </span>
          </span>
            <span *ngIf="registerationForm.hasError('notMatched') && confirmPassword.valid" class="error-block">
              Password not matched
            </span>
        </div>

        <div class="form-group col-12">
          <label for="mobile" class="form-label">Mobile</label>
          <input type="text" class="form-control" formControlName="mobile">
          <span  *ngIf="!mobile.valid && (mobile.touched  || userSubmitted)" class="error-block">
            <span *ngIf="mobile.hasError('required')">
              Please provide mobile
            </span>
            <span *ngIf="mobile.hasError('maxlength')" class="error-block">
              Invalid mobile number
            </span>
        </span>
        </div>

        <div class="form-group col-12">
          <button type="submit" class="btn btn-primary">Save</button>
          <button type="reset" class="btn btn-secondary ml-2">Cancel</button>
        </div>
      </form>
    </div>
  </div>
  </div>
</div>